#menu li>a {
    font-size: 2rem;
    color: black;
}

#menu form>button {
    font-size: 1.5rem;
}

#card_img {
    max-width: 15rem !important;
    max-height: 10rem !important;
}

#card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


@media (max-width: 576px) { 
    #header {
        display: flex;
        flex-direction: column;
    }

}