#menu li>a,
#menu form>button {
    font-size: 18px;
    font-weight: bold;
}

#card_img {
    max-width: 15rem !important;
    max-height: 10rem !important;
}

#card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}