<nav aria-label="...">
    <ul class="pagination">
        {% if card.has_previous %}
        <li class="page-item ">
            <a class="page-link" href="?page=1">First</a>
        </li>
        {% endif %} {% if card.has_previous %}
        <li class="page-item ">
            <a class="page-link" href="?page={{ card.previous_page_number }}">Previous<</a>
        </li>
        {% endif %}
        <li class="page-item ">
            <span class="page-link">{{ card.number}} de {{card.paginator.num_pages}}</span>
        </li> {% if card.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ card.next_page_number }}">>Next</a>
        </li>
        {% endif %} {% if card.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ card.paginator.num_pages }}">End</a>
        </li>
        {% endif %}

    </ul>
</nav>